<style type="text/css">
  .navbar {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto !important;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .nav-link,
  .nav-link:visited {
    color: var(--l2s-accent) !important;
    padding-bottom: 0px;
  }
  .nav-link:hover {
    color: var(--l2s-accent-dark) !important;
  }
</style>


<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link me-3" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="https://github.com/etheralpha/l2safety-com" target="_blank">Contribute</a>
        </li>
      </ul>
    </div>
  </div>
</nav>